*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven igonre
target/

#eclipse igonre
.settings/
.projects/
.calsspatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system igonre
.DS_Store
Thumbs.db
